{% load static %}
<section class="menu-lateral">
  <nav class="menu-lateral__navegacao">
    <a href="{% url 'galeria' %}"
      ><img src="{% static 'assets/ícones/1x/Home - ativo.png' %} " /> Home</a
    >
    <a href="{% url 'login' %}"
      ><img src="{% static 'assets/ícones/1x/Mais vistas - inativo.png' %} " />
      Login</a
    >
    <a href="{% url 'cadastro' %}"
      ><img src="{% static 'assets/ícones/1x/Novas - inativo.png' %} " />
      cadastro</a
    >
    <a href="{% url 'logout' %}"
      ><img
        src="{% static 'assets/ícones/1x/Surpreenda-me - inativo.png' %} "
      />
      Sair</a
    >
    <a href="{% url 'adicionar_imagem' %}"
      ><img
        src="{% static 'assets/ícones/1x/Novas - ativo.png' %} "
      />
      Adicionar Imagem</a
    >
  </nav>
</section>
